API_ID =  # API_ID
API_HASH = ""  # API_HASH
BOT_TOKEN = ""  # BotFather 那边申请到的BOT_TOKEN
BOT_NAME = ""  # 其实可以随意填写，但是最好和 BOT 的 USERNAME 一致

COOKIES = {}  # 用于登录的 COOKIES

HEADERS = {}  # 用于登录的 HEADERS

ADMINS = []  # 被认证的管理员的 int(ID)，可以是多个。
LOG_CHAT =   # 日志频道的 ID，用于发送日志。
WORK_CHAT =  # 工作群组的 ID

TIME_ZONE = "Asia/Shanghai"

INFO_DELETE_TIME = 5
STATS_DELETE_TIME = 20
HELP_DELETE_TIME = 60
